@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: whitesmoke ;
}
.navi {
    background-color: #282828;
    overflow: hidden;
}

li, a {
    font-family: 'Space Mono', monospace;
}