@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #282828;
}
.navi {
    background-color: #282828;
    overflow: hidden;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;

}

li, a, p {
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    color: #fbf1c7;
}

.bodyFont {
    font-family: 'Space Mono', monospace;
    color: #fbf1c7;
}

