/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');
/* Base */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    background-color: #3A3632;
}
/* Navigation Bar */
/* Color for the bar #282828 */
.navi {
    overflow: hidden;
    list-style: none;
}
.navi li, a {
    display: inline-block;
    padding: 0px 20px;
    text-decoration: none;
}
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px 10%;
}
li, a, p {
    font-family: 'Space Mono', monospace;
    font-weight: 500;
    font-size: 16px;
    color: #fbf1c7;
}
.logo {
    cursor: pointer;
}
/* Future Menu */
.servButton {
    background-color: #5B482C;
    color: white;
    padding: 20px;
    font-size: 20px;
    border: none;
    cursor: pointer;
  }
.servButton:hover, .dropbtn:focus {
    background-color: #806945;
} 
.dropMenu {
    position: relative;
    display: inline-block;
}
.dropList {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}
.dropList a {
    color: #fbf1c7;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropList a:hover {background-color: #282828}
.show {display:block;}
